*{
    padding: auto;
    margin: 0px;
}

#form1{
    padding: 50px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.creat{
    text-align: center;
    color: white;
}
#btn1{
    padding-top: 20px;
    text-align: center;
}

#text1 li{
    display: flex;
    padding: 0px 50px;
}

#text1 li a{
    padding:0px 15px;
}
#login{
    margin: auto;
}
.nav-link{
    color: black;
}
.nav-link a:hover{
    color: rgba(157, 167, 24, 0.897);
}

#avat{
    border-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

#creat-store{
    float: right;
}
#card{
    padding-top: 65px;
    padding-bottom: 25px;
    object-fit: cover;
}
#publish{
    float: left;
    margin-bottom: 25px;
}
.empety{
    width: 100%;
}
#card1{
    object-fit: cover;
}
