*{
    padding: auto;
    margin: 0px;
}

#form1{
    padding: 50px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.creat{
    text-align: center;
    color: white;
}
#btn1{
    padding-top: 20px;
    text-align: center;
}

#text1 li{
    display: flex;
    padding: 0px 50px;
}

#text1 li a{
    padding:0px 15px;
}
#login{
    margin: auto;
}
.nav-link{
    color: rgb(255, 254, 254);
}
.nav-link:hover{
    color: #ffc107
}

#avat{
    border-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

#creat-store{
    float: right;
}
#card{
    padding-top: 65px;
    padding-bottom: 25px;
    object-fit: cover;
}
#publish{
    float: left;
    margin-bottom: 25px;
}
.empety{
    width: 100%;
}
#card1{
    object-fit: cover;
}
#logo-customer{
    margin-left: 50px;
}
.banner .caption h2{
    display: contents;
}
.banner .caption .line-dec {
    margin-bottom: 20px;
    margin-top: 10px;
}
.caption svg{
    margin-right: 10px;
    margin-bottom: 10px;
}
.navbar-dark .navbar-toggler{
    margin-top: -120px;
}
.email a{
    float: left;
    padding-top: 0px;
    margin-top: -35px;
    color: white;
    text-decoration: none;
}
.email svg{
    float: left;
    padding-top: 0px;
    margin-top: -34px;
    background-color:white;
    border-radius:50%;
    text-decoration: none;
    margin-left:-25px;
    padding: 3px;
}

.phone a{
    float: right;
    padding-top: 0px;
    margin-top: -35px;
    color: white;
    text-decoration: none;
}
.phone svg{
    float: right;
    padding-top: 0px;
    margin-top: -34px;
    background-color:white;
    border-radius:50%;
    text-decoration: none;
    margin-right:102px;
    padding: 3px;
}
