*{
    padding: auto;
    margin: 0px;
}

#form1{
    padding: 50px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.creat{
    text-align: center;
    color: white;
}
#btn1{
    padding-top: 20px;
    text-align: center;
}

#text1 li{
    display: flex;
    padding: 0px 50px;
}

#text1 li a{
    padding:0px 15px;
}
#login{
    margin: auto;
}
.nav-link{
    color: rgb(255, 254, 254);
}
.nav-link:hover{
    color: #ffc107
}

#avat{
    border-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

#creat-store{
    float: right;
}
#card{
    padding-top: 65px;
    padding-bottom: 25px;
    object-fit: cover;
}
#publish{
    float: left;
    margin-bottom: 25px;
}
.empety{
    width: 100%;
}
#card1{
    object-fit: cover;
}
#logo-customer{
    margin-left: 50px;
}
.banner .caption h2{
    display: contents;
}
.banner .caption .line-dec {
    margin-bottom: 20px;
    margin-top: 10px;
}
.caption svg{
    margin-right: 10px;
    margin-bottom: 10px;
}
.navbar-dark .navbar-toggler{
    margin-top: -120px;
}
.email a{
    float: left;
    padding-top: 0px;
    margin-top: -35px;
    color: white;
    text-decoration: none;
}
.email svg{
    float: left;
    padding-top: 0px;
    margin-top: -34px;
    background-color:white;
    border-radius:50%;
    text-decoration: none;
    margin-left:-25px;
    padding: 3px;
}

.phone a{
    float: right;
    padding-top: 0px;
    margin-top: -35px;
    color: white;
    text-decoration: none;
}
.phone svg{
    float: right;
    padding-top: 0px;
    margin-top: -34px;
    background-color:white;
    border-radius:50%;
    text-decoration: none;
    margin-right:102px;
    padding: 3px;
}
.table{
    text-align: center;
}
.btn-sm, .btn-group-sm > .btn{
    border-color: aqua;
}
.btn-sm:hover, .btn-group-sm > .btn{
    background-color: rgb(42, 206, 138);
    color: black;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

.page-navigation ul {
	text-align: center;
	border-top: 1px solid #eee;
	padding: 30px  0px 0px 0px;
	margin: 0px 0px 80px 0px;
}
.page-navigation ul li {
	display: inline-block;
}
.page-navigation ul li a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 38px;
	border: 1px solid #eee;
	border-radius: 5px;
	font-weight: 700;
	color: #1e1e1e;
	font-size: 15px;
	text-decoration: none;
	transition: all 0.5s;
}
.page-navigation ul li a:hover,
.page-navigation ul li.current-page a {
	background-color: #3a8bcd;
	border-color: #3a8bcd;
	color: #fff;
}
.pagination{
    float: right;
}

#product{
    color: white;
}

#product:hover{
    color: #ffc107;
}


#orders-collapse li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.list-unstyled{
    padding-left: 45px;
    margin-top: -50px;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
}
#orders-collapse li a:hover{
    color: #ffc107;
    text-decoration: none;
}
.d-md-block{
    padding-bottom: 75px;
}
.qyt{
    background-color:black;
    color:white;
    border-radius:50%;
    padding-top: 7px;
    padding-bottom: 8px;
    text-align: center;
}
.bg-success{
    margin-top: 25px;
}
